.minor-menu {
  > a {
    display: block;
    text-decoration: none;
  }

  .minor-menu-item {
    position: relative;
    margin-bottom: 0;

    > .content {
      font-size: $font-size-h4;
      padding: 0.625rem 1.5rem;
    }
  }

  .active {
    .minor-menu-item {
      font-weight: bold;
      background-color: $interaction-grey-l1;

      &::before {
        background-color: $orange;
        position: absolute;
        content: '';
      }
    }
  }

  .disabled {
    .minor-menu-item {
      color: $light-grey;
    }
  }

  &.vertical .active .minor-menu-item::before {
    height: 100%;
    width: 0.5rem;
  }

  &.horizontal {
    display: flex;
    border-bottom: 1px solid $pale-grey;

    .minor-menu-item .content {
      padding-bottom: 0.9em;
    }

    .active .minor-menu-item::before {
      width: 100%;
      height: 0.5rem;
      bottom: 0;
    }
  }
}
