.confirm-cancel {
  display: flex;

  > .svg-icon {
    margin: 0 0.5rem;

    &:not(.disabled) {
      &.confirm {
        color: $green;
      }

      &.cancel {
        color: $just-red;
      }
    }
  }

  > .spacer {
    align-self: stretch;
    border-left: 1px solid $light-grey;
  }

  > .button.clear {
    margin: 0 0.5rem;
    font-weight: normal;
  }
}
