.editable-field {
  display: flex;
  align-items: center;
  min-height: 3rem;

  input[type=number] {
    text-align: end;
  }

  .edit {
    margin: 0 0.5rem;
  }

  .clickable:hover {
    text-decoration: none;
  }

  label {
    margin-right: 1rem;
  }

  &.data-invalid .input .input-line {
    border-color: $bright-red;
  }
}
