.radio-button {
  input[type=radio] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;

    .radio-svg {
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }

    .checked {
      color: $green;
    }

    .unchecked {
      color: $light-grey;
    }
  }

  &:not(.disabled) {
    label {
      cursor: pointer;
    }
  }

  &.disabled {
    label,
    .radio-svg {
      color: $pale-grey;
    }
  }
}
