.button-row {
  display: flex;
  align-items: center;
  gap: 1rem;

  &.justify-left {
    justify-content: flex-start;
  }

  &.justify-right {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-spread {
    justify-content: space-between;
  }
}
