.context-menu {
  .context-menu-item {
    $icon-right-margin: 0.25rem;
    // Icons have a natural margin, therefore we need to offset text.
    $text-padding: 0.5rem;

    min-height: $icon-size-std;
    padding-right: $text-padding;

    font-size: $font-size-body-regular;

    display: flex;
    align-items: center;
    min-width: fit-content;
    white-space: nowrap;

    &.has-icon {
      > .svg-icon {
        color: $light-grey;
        margin-right: $icon-right-margin;
      }
    }

    &:not(.has-icon) {
      padding-left: $text-padding;
    }

    &.checkbox-item {
      .checkbox-svg {
        font-size: 1.25rem;
        // checkbox icon is smaller (20px) so it needs extra margin
        margin: 0 (0.5rem + $icon-right-margin) 0 0;
      }
    }

    &.clickable:not(.disabled) {
      cursor: pointer;

      &:hover {
        background: $interaction-grey-l1;
      }

      &:active {
        background: $interaction-grey-l2;
      }
    }

    &.disabled {
      color: $pale-grey;

      .svg-icon {
        color: $pale-grey;
      }
    }
  }
}
