.copy-to-clipboard {
  display: inline-flex;
  align-items: center;
  position: relative;

  .ready,
  .copied,
  .error {
    transition: 0.25s;
  }

  .copied,
  .error {
    position: absolute;
    pointer-events: none;
    text-wrap: nowrap;
  }

  &.state-ready {
    .copied {
      opacity: 0%;
    }

    .error {
      opacity: 0%;
    }
  }

  &.state-copied {
    color: $grey;

    .ready {
      opacity: 0%;
    }

    .error {
      opacity: 0%;
    }

    .copy-icon {
      opacity: 0%;
    }
  }

  &.state-error {
    color: $zaber-red;

    .ready {
      opacity: 0%;
    }

    .copied {
      opacity: 0%;
    }

    .copy-icon {
      opacity: 0%;
    }
  }

  .copy-icon {
    transition: 0.25s;
    margin-left: 0.25rem;
    font-size: 1.75rem;

    &.disabled {
      cursor: default;
    }
  }

  &.type-text {
    .copy-icon {
      display: none;
    }

    .ready {
      cursor: pointer;

      &:hover {
        color: $dark-grey;
      }
    }
  }
}
