.svg-icon {
  height: 1em;
  width: auto;
  vertical-align: -0.125em;
  display: inline-block;
  font-size: $icon-size-std;
  overflow: visible;

  border-radius: 50%;

  @mixin activated {
    &.interaction-grey {
      color: $zaber-grey;
      background: $interaction-grey-l1;
    }

    &.interaction-white {
      color: $white;
      background: $interaction-white-l1;
    }
  }

  &.clickable {
    cursor: pointer;

    &.interaction-grey {
      color: $light-grey;
    }

    &.interaction-white {
      color: $white;
    }

    &:not(.disabled) {
      &:hover {
        @include activated;
      }

      &.interaction-grey:active {
        background: $interaction-grey-l2;
      }

      &.interaction-white:active {
        background: $interaction-white-l2;
      }
    }

    &.disabled {
      color: $pale-grey;
    }
  }

  &.activated {
    @include activated;
  }

  &.highlight-border {
    border: 2px solid transparent;
  }

  &.highlight {
    border-color: $yellow;

    animation-name: icon-border-blink-animation-keyframes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
}

@keyframes icon-border-blink-animation-keyframes {
  50% {
    border-color: rgba($yellow, 0.1);
  }
}
