@use 'sass:math';

.pop-up {
  display: inline-block;

  .pop-up-trigger {
    cursor: pointer;
    display: inline-block;
  }
}

.popped-up {
  $arrow-padding: 1rem;
  $arrow-width: 1rem;
  $view-shift: $arrow-padding + math.div($arrow-width, 2);

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  &.transparent {
    // Used by 'hover' type pop-ups to ensure the contents doesn't occlude it's own trigger and close itself
    pointer-events: none;
  }

  .pop-up-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .pop-up-view {
    display: flex;
    position: absolute;
    box-sizing: border-box;

    &.top {
      flex-direction: column;
    }

    &.bottom {
      flex-direction: column-reverse;

      .pop-up-arrow {
        scale: -1;
        // This ensures that the arrow is always flush with the edge of the content
        // Otherwise, the browser will sometimes render them slightly separated
        translate: 0 1px;
      }
    }

    &.left {
      flex-direction: row;
    }

    &.right {
      flex-direction: row-reverse;

      .pop-up-arrow {
        scale: -1;
        // This ensures that the arrow is always flush with the edge of the content
        // Otherwise, the browser will sometimes render them slightly separated
        translate: 1px 0;
      }
    }

    &.bottom,
    &.top {
      &.bubble {
        .pop-up-arrow {
          width: $arrow-width;
        }

        &.start {
          transform: translateX(-$view-shift);

          .pop-up-arrow {
            left: calc($view-shift - math.div($arrow-width, 2));
          }
        }

        &.center {
          .pop-up-arrow {
            align-self: center;
          }
        }

        &.end {
          transform: translateX($view-shift);

          .pop-up-arrow {
            align-self: flex-end;
            right: calc($view-shift - math.div($arrow-width, 2));
          }
        }
      }
    }

    &.left,
    &.right {
      &.bubble {
        .pop-up-arrow {
          height: $arrow-width;
        }

        &.start {
          transform: translateY(-$view-shift);

          .pop-up-arrow {
            top: calc($view-shift - math.div($arrow-width, 2));
          }
        }

        &.center {
          .pop-up-arrow {
            align-self: center;
          }
        }

        &.end {
          transform: translateY($view-shift);

          .pop-up-arrow {
            align-self: flex-end;
            bottom: calc($view-shift - math.div($arrow-width, 2));
          }
        }
      }
    }

    .flex-component.row {
      width: calc(100% - 2 * $arrow-padding);
    }

    .pop-up-arrow {
      position: relative;
      color: $white;
    }

    .pop-up-content {
      background: $white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: $general-radius;
      padding: 0.5rem;
      max-width: calc(50vw - 2rem);
    }
  }
}
