button.add-item {
  .add-item-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;

    .add-item-icon {
      padding-bottom: 0.1rem;
      margin-right: 0.5rem;
    }
  }
}
