.text-span {
  &.text-body-large {
    font-size: $font-size-body-large;
  }

  &.text-body {
    font-size: $font-size-body-regular;
  }

  &.text-body-small {
    font-size: $font-size-body-small;
  }

  &.text-body-xsmall {
    font-size: $font-size-body-xsmall;
  }

  &.text-button {
    font-size: $font-size-button;
  }

  &.text-helper {
    font-size: $font-size-helper;
  }

  &.text-instruction {
    color: $light-grey;
    font-style: italic;
  }

  &.text-overline {
    font-size: $font-size-overline;
    text-transform: uppercase;
  }

  &.h5 {
    font-size: $font-size-h5;
    font-weight: bold;
  }

  &.h4 {
    font-size: $font-size-h4;
    font-weight: bold;
  }

  &.h3 {
    font-size: $font-size-h3;
    font-weight: bold;
  }

  &.h2 {
    font-size: $font-size-h2;
    font-weight: bold;
  }

  &.h1 {
    font-size: $font-size-h1;
    font-weight: bold;
  }

  &.red {
    color: $just-red;
  }

  &.light {
    color: $light-grey;
  }

  &.x-light {
    color: $pale-grey;
  }

  &.bold {
    font-weight: bold;
  }

  &.mono {
    font-family: 'Roboto Mono';
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      text-decoration-line: underline;
    }
  }
}
