.code-snippet-group-container {
  $border-color: $pale-grey;

  border: 1px solid $border-color;

  .title-container {
    .title {
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      padding: 0.25rem 0.5rem;
      display: inline-block;
      font-size: 0.75rem;

      &:hover {
        background-color: $zaber-white;
        cursor: pointer;
      }

      &.active {
        background-color: $almost-white;
      }
    }
  }

  .code-snippet {
    position: relative;
    font-family: monospace;

    svg.svg-icon:not(.external) {
      font-size: 2rem;
      position: absolute;
      right: 0.25rem;
      top: 0.25rem;
      opacity: 0.25;
    }

    &:hover {
      svg.copy-icon {
        opacity: 1;
      }
    }
  }
}
