.progress-bar {
  height: 1rem;
  border-radius: $general-radius;
  background-color: $pale-grey;

  .completed {
    height: 1rem;
    border-radius: $general-radius;
    background-color: $green;
    min-width: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .text-span {
      color: $white;
      margin: 0 0.25rem;
    }
  }
}
