.color-picker {
  position: relative;

  .swatch {
    width: calc(1.25rem - 4px);
    height: calc(1.25rem - 4px);
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
  }

  .popup {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
}
