.unordered-list {
  .unordered-list-items {
    display: inline-block;

    .unordered-list-item {
      position: relative;
      margin-top: 0.5rem;
      padding-left: 1.75rem;

      > * {
        display: inline;
      }

      .unordered-list-bullet {
        left: 1rem;
        top: 0.4375em;
        position: absolute;
        display: inline-block;
        height: 0.25em;
      }
    }
  }
}
