button.button {
  $shadow-grey: rgba(#000, 0.2);
  $shadow: 0 0 1.25rem $shadow-grey;

  display: inline-block;
  padding: 0 2rem;
  height: min-content;
  min-height: 2.25rem;

  border: 1px solid;
  border-radius: $button-radius;

  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-size: $font-size-button;
  cursor: pointer;

  &:focus { outline: 0; }

  &.red {
    background-color: $just-red;
    border-color: $just-red;
  }

  &.orange {
    background-color: $orange;
    border-color: $orange;
  }

  &.grey {
    background-color: $white;
    border-color: $zaber-grey;
    color: $zaber-grey;
  }

  &.grey-red {
    background-color: $almost-white;
    border-color: $just-red;
    color: $just-red;
  }

  &.clear {
    background: none;
    border-color: transparent;
    color: $zaber-grey;
  }

  &:not(.disabled) {
    &:hover {
      background-color: $almost-white;

      &.red {
        color: $just-red;
      }

      &.orange {
        color: $orange;
      }

      &.grey-red {
        background-color: $just-red;
        border-color: $just-red;
        color: $white;
      }

      &.clear {
        border-color: $zaber-grey;
      }
    }

    &:not(:active) {
      &.pulse-shadow {
        box-shadow: $shadow;
        animation: button-pulse-shadow 1.5s ease-out infinite;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;

    &.red,
    &.orange,
    &.grey,
    &.grey-red {
      color: $white;
      background-color: $pale-grey;
      border-color: $pale-grey;
    }

    &.clear {
      color: $pale-grey;
    }

    &:active {
      box-shadow: unset;
    }
  }

  &:active {
    box-shadow: $shadow;
  }

  &.large {
    padding: 1rem 3rem;
    font-size: $font-size-body-large;
  }

  &.small {
    padding: 0.5rem 1rem;
    font-size: $font-size-body-small;
  }

  &.button-arrow {
    display: flex;
    align-items: center;

    > svg.arrow {
      &.left {
        padding-right: 0.5em;
      }

      &.right {
        padding-left: 0.5em;
      }
    }
  }

  @keyframes button-pulse-shadow {
    0% { box-shadow: $shadow; }
    50% { box-shadow: 0 0 0 $shadow-grey; }
    100% { box-shadow: $shadow; }
  }
}
