.toggle-button {
  display: inline-block;
  height: 1em;
  width: auto;
  vertical-align: -0.125em;
  overflow: visible;

  font-size: inherit;
  cursor: pointer;
  color: $light-grey;

  &.loading {
    > circle {
      display: none;
    }

    &.toggle-off {
      > g {
        transform: matrix(-1, 0, 0, -1, 44, 22);
      }
    }
  }

  &:not(.loading) {
    > g {
      display: none;
    }
  }

  > circle {
    transition: transform 0.2s;
  }

  &.toggle-on {
    &:not(.disabled) {
      color: $green;
    }

    > circle {
      transform: translateX(50%);
    }
  }

  &.disabled {
    color: $pale-grey;
  }
}
