.input-editor {
  .input-line {
    input {
      background-color: inherit;
    }
  }
}

.input-popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  .popup-positioner {
    $padding: 1rem;

    position: absolute;
    display: flex;
    flex-direction: column;

    &.start {
      align-items: flex-start;

      .input-editor {
        transform: translate(-$padding, -$padding);
      }
    }

    &.center {
      align-items: center;

      .input-editor {
        transform: translate(0, -$padding);
      }
    }

    &.end {
      align-items: flex-end;

      .input-editor {
        transform: translate($padding, -$padding);
      }
    }

    .input-editor {
      padding: $padding;
      border-radius: $general-radius;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background: $white;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow: hidden;
      box-sizing: border-box;
      pointer-events: auto;

      .restore-default {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &:hover {
          font-weight: bold;

          .svg-icon {
            color: $zaber-grey;
            background-color: $interaction-grey-l1;
          }
        }

        .svg-icon {
          color: $light-grey;
        }
      }

      .button-row .button {
        flex: 1;
      }
    }
  }
}
