.steps {
  display: flex;
  align-items: center;

  .dot {
    width: calc(0.5rem - 2px);
    height: calc(0.5rem - 2px);
    border-radius: 50%;
    border: 1px solid $light-grey;
    margin-right: 1rem;

    &.selected {
      background: $light-grey;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
