.card.header-card {
  .header {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    background: $almost-white;
    height: 3.25rem;

    > .chevron {
      margin-right: 1rem;
    }
  }

  .contents {
    width: 100%;
    box-sizing: border-box;
  }
}
