@font-face {
  font-family: 'Roboto';
  src: url('../../assets/font/roboto-v20-latin-regular.woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../assets/font/roboto-mono-v13-latin-regular.woff2');
}

body {
  font-family: $font-family;
  color: $zaber-grey;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
mark {
  &.text-primary {
    color: $zaber-grey;
  }

  &.text-orange {
    color: $orange;
  }

  &.text-green {
    color: $green;
  }

  &.text-dark {
    color: $dark-grey;
  }

  &.text-red {
    color: $just-red;
  }
}

p,
input,
select {
  font-size: $font-size-body-regular;
}

h5 {
  font-size: $font-size-h5;
}

h4 {
  font-size: $font-size-h4;
}

h3 {
  font-size: $font-size-h3;
}

h2 {
  font-size: $font-size-h2;
}

h1 {
  font-size: $font-size-h1;
}

b {
  font-weight: bold;
}
