// Inspired by https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/

$breakpoints: (
  'xxs':  320px,
  'xs':   480px,
  's':    600px,
  'm':    768px,
  'l':    960px,
  'xl':   1280px,
  'xxl':  1600px,
) !default;

/// Responds to screen sizes up to the given breakpoint.
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin screen-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: calc(map-get($breakpoints, $breakpoint) - 1px)) {
      @content;
    }
  }
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
      + 'Available breakpoints are: #{map-keys($breakpoints)}.';
  }
}

/// Responds to screen sizes above the given breakpoint.
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin screen-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
      + 'Available breakpoints are: #{map-keys($breakpoints)}.';
  }
}
