/* Colors palette */
$white: #fff !default;
$zaber-white: #f8f8f8 !default;
$almost-white: #eee !default;
$pale-grey: #ddd !default;
$light-grey: #aaa !default;
$grey: #888 !default;
$zaber-grey: #555 !default;
$dark-grey: #333 !default;
$black: #000 !default;
$green: #34c737 !default;
$dark-blue: #242736 !default;
$blue: #1fb6ff !default;
$pale-blue: #e0e0f0 !default;
$yellow: #ffc82c !default;
$pale-yellow: #fdfdb0 !default;
$orange: #f89b11 !default;
$pink: #fb8d8d !default;
$bright-red: #f00 !default;
$zaber-red: #d32024 !default;
$just-red: #d32024 !default;
$dark-red: #a7191c !default;
$dark-red-translucent: rgba($dark-red, 0.5) !default;
$translucent: #0000 !default;
/* Derived colors */
$pale-red: $pink;
$error-note: $blue;
$error-warning: $yellow;
$error-fault: $just-red;
/* Extra colors */
$pale-green: #e3fce4 !default;
$input-background: #ffffff80 !default;
$interaction-grey-l1: rgba(0, 0, 0, 0.08) !default;
$interaction-grey-l2: rgba(0, 0, 0, 0.16) !default;
$interaction-white-l1: rgba($white, 0.16) !default;
$interaction-white-l2: rgba($white, 0.32) !default;
// if you are adding new color, put it to src\misc\palette\Palette.md, palette.scss and colors.ts as well

$font-family: 'Roboto' !default;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-body-large: 1.125rem;
$font-size-body-regular: 1rem;
$font-size-body-small: 0.875rem;
$font-size-button: 1.125rem;
$font-size-helper: 0.75rem;
$font-size-body-xsmall: 0.75rem;
$font-size-overline: 0.875rem;

$icon-size-small: 1.25rem;
$icon-size-mid: 1.5rem;
$icon-size-std: 2.25rem;

$button-radius: 5rem !default;
$general-radius: 0.5rem !default;
