.svg-icon.notice-icon {
  &:not(.colorless) {
    &.error {
      color: $error-fault;
    }

    &.warning {
      color: $error-warning;
    }

    &.info {
      color: $error-note;
    }

    &.success {
      color: $green;
    }
  }
}
