.notice-banner {
  position: relative;
  background-color: $white;

  .accent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.5rem;
  }

  .notice-message {
    padding: 0.5rem 1rem;
    border: 1px solid $almost-white;
  }
}
