.notice-border {
  position: relative;

  .notice-border-outline {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 1px solid;
    border-left: 0.5rem solid;
  }
}
