@use 'sass:math';

.notice-message {
  // Apply this to content to offset it so that the icon centers on the first line of text
  $offset-from-icon: math.div($icon-size-mid - $font-size-body-regular, 2);
  // Apply to content and icon so they align with the closer
  $offset-from-closer: math.div($icon-size-std - $icon-size-mid, 2);
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 0.5rem;

  >.notice-icon {
    font-size: $icon-size-mid;
    grid-column: 1;

    &:has(~.closer) {
      padding-top: $offset-from-closer;
    }
  }

  .content {
    grid-row: 1;
    grid-column: 2;
    padding: $offset-from-icon 0;

    &:has(~.closer) {
      padding: ($offset-from-icon + $offset-from-closer) 0;
    }
  }

  .title {
    grid-row: 1;
    grid-column: 2;
    gap: 1rem;
    padding: $offset-from-icon 0;

    &:has(~.closer) {
      padding: ($offset-from-icon + $offset-from-closer) 0;
    }

    .toggle {
      cursor: pointer;
    }

    ~.content {
      grid-row: 2;
      grid-column: 2 / 4;
      padding-top: 0;
      padding-bottom: $offset-from-icon;
    }
  }

  .closer {
    grid-row: 1;
    grid-column: 3;
  }
}
