.zaber-toast-launcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  pointer-events: none;

  .notice-toast {
    padding-bottom: 2rem;

    .notice-message {
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: $general-radius;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background-color: $white;
      pointer-events: auto;

      .svg-icon.notice-icon {
        padding: 0;
        margin-right: 1rem;
      }

      .closer {
        margin-left: 1rem;
      }
    }
  }
}
