.simple-select,
.simple-select-menu {
  .simple-select-item,
  .simple-select-value {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    min-height: $icon-size-std;

    > .svg-icon {
      color: $light-grey;
    }
  }
}

.simple-select {
  .svg-icon.simple-select-clear {
    font-size: 1.5rem;
    margin: -0.25rem;
  }
}
