.input {
  $line-height: 1.5rem;
  $padding-width: 0.25rem;
  position: relative;

  input {
    display: block;
  }

  .input-line,
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: $padding-width 2 * $padding-width;
    border: 1px solid $light-grey;
    border-radius: $general-radius;
    outline: none;
    background-color: $white;
  }

  textarea {
    line-height: $line-height;
    font-family: inherit;
    font-size: $font-size-body-regular;
    resize: none;
  }

  .input-line {
    display: flex;
    align-items: center;
    height: 2.25rem;
  }

  .input-row {
    display: flex;
    align-items: center;
  }

  &.disabled {
    .input-line {
      border: 1px solid $pale-grey;
    }

    input[type=text],
    input[type=number],
    input::placeholder {
      color: $pale-grey;
    }
  }

  &.readonly {
    .input-line {
      border: 1px solid $translucent;
      background-color: $translucent;
    }
  }

  &.status-error {
    .input-line,
    .input-select__control { /* stylelint-disable-line selector-class-pattern */
      border-color: $error-fault;
    }
  }

  &.status-warning {
    .input-line,
    .input-select__control { /* stylelint-disable-line selector-class-pattern */
      border-color: $error-warning;
    }
  }

  &.status-info {
    .input-line,
    .input-select__control { /* stylelint-disable-line selector-class-pattern */
      border-color: $error-note;
    }
  }

  &.status-success {
    .input-line,
    .input-select__control {  /* stylelint-disable-line selector-class-pattern */
      border-color: $green;
    }
  }

  input,
  input[type=text],
  input[type=number] {
    width: 100%;
    height: $line-height;
    color: $zaber-grey;
    border: none;
    border-radius: $general-radius;
    background: $input-background;
    font-family: inherit;
    outline: none;
  }

  &:focus-within,
  &:not(.disabled, .readonly, .status-error, .status-warning) {
    .input-line:hover {
      border-color: $zaber-grey;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type=number] {
    appearance: textfield;
  }

  .clear-input {
    font-size: $line-height;
    cursor: pointer;
    background: $input-background;
  }

  .clear-input.clickable:not(.disabled):hover {
    background: $input-background;
  }

  .message-line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;

    &.hidden {
      visibility: hidden;
    }

    .text-span {
      margin: 0;
      padding: 0;
    }

    .svg-icon {
      font-size: 1rem;
    }
  }

  .input-line {
    > .svg-icon:first-child {
      font-size: $line-height;
      margin-right: 0.5rem;
    }
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: url('../../../assets/img/calendar.svg');
  width: 22px;
  height: 22px;
  margin-right: -5px;
}

.input-checkbox {
  input[type=checkbox] {
    display: none;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $zaber-grey;

    .checkbox-svg {
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }

    .checkbox-label-text {
      display: flex;
      align-items: center;
    }

    .checked {
      color: $green;
    }

    .unchecked {
      color: $light-grey;
    }
  }

  .checkbox-description {
    display: flex;
    align-items: center;
    margin-left: 1.75rem;
  }

  .checkbox-bold {
    font-weight: bold;
    color: $zaber-grey;
  }

  &.disabled {
    label,
    .checkbox-svg {
      color: $pale-grey;
    }
  }

  &:not(.disabled) {
    label {
      cursor: pointer;
    }
  }
}

.input-slider {
  $thumb-size: 0.5rem;
  $major-tick-height: 0.5rem;
  $minor-tick-height: 0.25rem;
  $tick-width: 2px;
  width: 100%;
  position: relative;
  isolation: isolate;

  .slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .label-container {
    .text-body {
      font-size: 0.75rem;
    }
  }

  .slider-value {
    height: 1.5rem;
    width: calc(100% - 2 * #{$thumb-size});
    display: flex;

    .value-container {
      width: 0;
      display: flex;
      justify-content: center;
    }
  }

  .slider {
    z-index: 1;
    appearance: none;
    width: 100%;
    height: calc(#{$thumb-size} / 2);
    outline: none;
    background: linear-gradient(to right, transparent $thumb-size, $green 0, $green calc(100% - #{$thumb-size}), transparent $thumb-size);
    margin: 0;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 2 * $thumb-size;
      height: 2 * $thumb-size;
      border-radius: $thumb-size;
      background: $green;
      cursor: pointer;
    }
  }

  .tick-marks {
    width: calc(100% - 2 * #{$thumb-size});
    height: $major-tick-height;
  }

  .range-tick {
    width: $tick-width;
    fill: $light-grey;

    &.major {
      height: $major-tick-height;
    }

    &.minor {
      height: $minor-tick-height;
    }
  }

  .range-tick:last-child {
    transform: translateX(-$tick-width);
  }

  .label-container {
    display: flex;
    margin: 0.5rem $thumb-size;
    padding-left: $tick-width * 0.5;
  }

  .text-aligner {
    width: 0;
    display: flex;

    &.left {
      justify-content: start;
    }

    &.zero {
      justify-content: center;
    }

    &.right {
      justify-content: end;
    }
  }

  &.disabled {
    .slider {
      background: linear-gradient(to right, transparent $thumb-size, $pale-grey 0, $pale-grey calc(100% - #{$thumb-size}), transparent $thumb-size);

      &::-webkit-slider-thumb {
        background: $pale-grey;
        cursor: unset;
      }
    }

    .range-tick {
      fill: $pale-grey;
    }

    .slider-value {
      color: $pale-grey;
    }
  }
}

.input-label-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;

  .input-label-help {
    .pop-up-trigger {
      display: flex;

      .svg-icon {
        font-size: 200%;
      }
    }

    &.emphasized {
      .pop-up-trigger {
        .svg-icon {
          color: inherit;
        }
      }
    }
  }
}
