.help-tooltip {
  > .pop-up-trigger {
    > .svg-icon:not(:hover) {
      color: $light-grey;
    }
  }

  > .pop-up-content {
    padding: 1rem;
  }

  &.large {
    > .pop-up-content {
      min-width: 20rem;
      text-align: left;
    }
  }

  &.small {
    > .pop-up-content {
      white-space: nowrap;
    }
  }
}
