$colors: (
  'white': $white,
  'zaber-white': $zaber-white,
  'almost-white': $almost-white,
  'pale-grey': $pale-grey,
  'light-grey': $light-grey,
  'grey': $grey,
  'zaber-grey': $zaber-grey,
  'dark-grey': $dark-grey,
  'black': $black,
  'green': $green,
  'dark-blue': $dark-blue,
  'blue': $blue,
  'pale-blue': $pale-blue,
  'yellow': $yellow,
  'orange': $orange,
  'pink': $pink,
  'bright-red': $bright-red,
  'zaber-red': $zaber-red,
  'dark-red': $dark-red,
  'just-red': $just-red,
  'pale-red': $pale-red,
  'error-note': $error-note,
  'error-warning': $error-warning,
  'error-fault': $error-fault,
  'pale-green': $pale-green,
  'input-background': $input-background,
  'interaction-grey-l1': $interaction-grey-l1,
  'interaction-grey-l2': $interaction-grey-l2,
  'interaction-white-l1': $interaction-white-l1,
  'interaction-white-l2': $interaction-white-l2,
);

.palette {
  @each $name, $color in $colors {
    &-#{$name} {
      background-color: $color;
    }
  }
}
