@use 'sass:math';

.modal {
  color: $zaber-grey;
  background-color: $zaber-white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);

  max-height: 90vh;
  max-width: 90vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: fit-content;
  width: max(50%, 18rem);
  min-height: 33%;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 6;

  &.small {
    min-height: unset;
    width: max(40%, 14rem);
  }

  .modal-header {
    padding: 1rem 1.5rem;
    background-color: $zaber-red;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;

    .svg-icon {
      margin-right: 1rem;
    }

    .modal-close {
      position: absolute;
      right: 1.5rem;
      top: 1rem;

      .svg-icon {
        margin-right: 0;
        cursor: pointer;
      }
    }
  }

  &.hidden {
    display: none;
  }

  .modal-body-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    overflow-y: auto;

    .modal-body {
      max-height: 70vh;
      display: flex;
      flex-grow: 1;
      overflow-y: auto;
      margin: 1rem 1.5rem;
      min-height: 3rem;

      .icon-body {
        margin: 0 1rem 0 0;
        font-size: $icon-size-mid;

        &.loader {
          font-size: $icon-size-std;

          ~.modal-content {
            margin-top: math.div($icon-size-std - $font-size-body-regular, 2);
          }
        }

        ~.modal-content {
          margin-top: math.div($icon-size-mid - $font-size-body-regular, 2);
        }
      }

      .modal-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: stretch;
      }
    }

    .buttons {
      display: flex;
      align-self: stretch;
      justify-content: flex-end;
      margin: 0 1.5rem 1.5rem;
    }
  }
}

.modal-background-overlay {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  z-index: 5;
}
